apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Use base directory reference - control what gets deployed with patches
resources:
  - ../../base

patches:
  - path: patch-cluster-config-app-of-apps.yaml
    target:
      kind: Application
      name: cluster-config-app-of-apps
  - path: patch-operators-list.yaml
    target:
      kind: ApplicationSet
      name: cluster-operators
  # Disable unwanted ApplicationSets by removing them entirely
  - target:
      kind: ApplicationSet
      name: cluster-configs
    patch: |-
      $patch: delete
  - target:
      kind: ApplicationSet
      name: tenants
    patch: |-
      $patch: delete
