apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Local resources - only deploy what we need (operators)
# NOT including cluster-configs or tenants ApplicationSets
resources:
  - cluster-config-app-of-apps.yaml
  - cluster-operators-applicationset.yaml

patches:
  - path: patch-cluster-config-app-of-apps.yaml
    target:
      kind: Application
      name: cluster-config-app-of-apps
  - path: patch-operators-list.yaml
    target:
      kind: ApplicationSet
      name: cluster-operators
