apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - path: patch-subscription-v3.yaml
    target:
      group: operators.coreos.com
      kind: Subscription
      name: servicemeshoperator
      namespace: openshift-operators
      version: v1alpha1
